
body{
    background-color: #EAB87C;
    background-image: url("imagenes/marca personal/tileable_wall.jpeg");
}

hr{
    border-color: #0f0f0f;
}
.divider-oculto{
    border-color: transparent;
}

.icon-social-github{

    font-size: 80px;
    color: #0f0f0f;

}
a:hover{
    color: #0f0f0f;
}


